<footer class="footer">
	<div class="rights">
		<span>© Ost.com 2020 </span>
		<a class="terms" href="https://ost.com/privacy">Privacy</a>
		{{!-- <a class="terms" href="https://ost.com/tos">Terms Of Use</a> --}}
	</div>
</footer>
{{> footer-scripts }}
